@{
    ViewData["Title"] = "Registr.ar";
}

@{
    bool usernameUsed = (ViewBag.usernameUsed != null);
    bool mailUsed = (ViewBag.mailUsed != null);
    bool badLogin = (ViewBag.badLogin != null);
    bool registrado = (ViewBag.registrado != null);
}

@section Styles {
  <link href='@Url.Content("~/css/home.css")' rel="stylesheet">
}

<header>
    <p class="title">Registr.ar</p>
</header>
<main>
  @if(badLogin || registrado){
    <script defer>
      /*Heigth to 125*/
      var showLogin = true;
    </script>
  }else{
    <script defer>
      var showLogin = false;
    </script>
  }
  <div class="login" id="login-container">
    <div class="login__title">
      <p class="login__text">¿Ya tenes una cuenta?</p>
      <button class="login__btn" id="to-login">Login</button>
    </div>
    <div class="login__form" id="form-container">
      <form action='@Url.Action("LoginUser", "Home")' method="POST">
        <input type="text" name="username" placeholder="Usuario/eMail" required class="register__input">
        <input type="password" name="password" placeholder="Contraseña" required class="register__input">
        <button type="submit" class="register__btn">Entrar</button>
        @if(badLogin){
          <p style="color: black; margin: 0">Las credenciales ingresadas no son validas</p>
        }else if(registrado){
          <p style="color: #fff; margin: 0">Registrado!</p>
        }
        <p style="font-size: 12px;"><a href="#">No recuerdo mis credenciales</a></p>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="about-1">
      <h2 class="about-1__title">¿Qué es Registr.ar?</h2>
      <p class="about-1__text">
        Registr.ar es el sistema perfecto para complementar tus paginas o desarrollos.
        No te preocupes mas por muchisimas horas gastadas en bases de datos o herramientas complejas.
        Registrate, crea tu registro, insertalo en tu pagina y ya tendras funcionando nuestro sistema.
        Vas a poder administrar a tus clientes, monitorear sus acciones, agregarle roles segun las acciones que puedan realizar
         y mas!
      </p>
    </div>
    <div class="register">
      <h2 class="register__title">Registrarse</h2>
      <form class="register__form" action='@Url.Action("RegisterUser", "Home")' id="registerForm" method="POST">
        <input
          type="text"
          class="register__input"
          placeholder="Nombre de usuario"
          name="username"
          required value='@((mailUsed && !usernameUsed) ? @ViewBag.username : "")'
        />
        @if(usernameUsed){
            <p style="color: red; margin: 0;">Este nombre ya esta en uso</p>
        }
        <input type="email" class="register__input" name="email" placeholder="Email" required value='@((usernameUsed && !mailUsed) ? @ViewBag.email : "")'/>
        @if(mailUsed){
            <p style="color: red; margin: 0;">Este email ya esta en uso</p>
        }
        <input
          type="password"
          class="register__input"
          placeholder="Contraseña"
          id="password" name="password"
          required
        />
        <input
          type="password"
          class="register__input"
          placeholder="Confirmar contraseña"
          id="password2"
          required
        />
        <p id="alerta" style="display: none; color: red;">Las contrasenias no coinciden</p>
       <button class="register__btn" type="submit">Registrarse</button>
      </form>
    </div>
  </div>
  <div class="topics">
    <div class="topics__one">
      <div class="topics__circle">
        <img src="~/images/Rocketship.svg" />
      </div>
      <div class="topics__text">
        <h3 class="topics__title">VELOCIDAD</h3>
        <p class="topics__subtext">
          Maneja todos los <strong>usuarios</strong> de tu página de manera
          veloz y segura.
          <br />
          Puedes monitorear sus acciones y el impacto que tienen en tu
          página
        </p>
      </div>
    </div>
    <div class="topics__two">
      <div class="topics__text second">
        <h3 class="topics__title">ENFOCATE 100% A TUS IDEAS</h3>
        <p class="topics__subtext">
          <strong>Registr.ar</strong> te permite tener todo
          <strong>controlado</strong>, <strong>monitoreado</strong> y
          <strong>seguro</strong>
          <br />
          sin perder tiempo y desarrollando todo el potencial de tu página
        </p>
      </div>
      <div class="topics__circle">
        <img src="~/images/Bulb.svg" />
      </div>
    </div>
    <div class="topics__three">
      <div class="topics__circle">
        <img src="~/images/Magic-wand.svg" />
      </div>
      <div class="topics__text">
        <h3 class="topics__title">FÁCIL DE IMPLEMENTAR</h3>
        <p class="topics__subtext">
          Implementación fácil, rápida y liviana. Creas tu registro,
          descargas tus scripts y ya tienes <strong>funcional</strong> tu
          sistema con <strong>Login</strong> y <strong>Registro</strong> de
          usuarios.
        </p>
      </div>
    </div>
  </div>
</main>


@section Scripts{
  <script src="~/js/formCheck.js"></script>
}