@{
    ViewData["Title"] = ViewBag.username;
}

<div class="text-center">
    <h1>Registros de @ViewBag.username</h1>

    @if(ViewBag.Creador.Count > 0)
    {
        <table>
            <tr>
                <th></th>
                <th><strong>ID</strong></th>
                <th><strong>Nombre</strong></th>
                <th><strong>Pago</strong></th>
                <th><strong>Loguear</strong></th>
                <th><strong>Registrar</strong></th>
            </tr>
                @foreach (var item in ViewBag.Creador)
                {
                    <tr>
                        <td><input type="checkbox" id='@item.ID-check'></td>
                        <td class="registro-id">@item.ID</td>
                        <td class="registro-nombre">@item.Nombre</td>
                        @{var premium = item.Premium ? "✅" : "❌";}
                        <td class="registro-pago">@premium</td>
                        @{var pauseLogs = !item.pauseLogs ? "✅" : "❌";}
                        <td id='@item.ID-logcheck'>@pauseLogs</td>
                        @{var pauseRegs = !item.pauseRegs ? "✅" : "❌";}
                        <td id='@item.ID-regcheck'>@pauseRegs</td>
                    </tr>
                }  
        </table>
    }
    else {<h2><strong>Todavia no tenes creado registros</strong><br>Empieza creando uno</h2>}

    <br>
    <button id="btn-eliminar" style="display: none;">Eliminar</button>
    <button id="pausar-logs" style="display: none;"></button>
    <button id="pausar-regs" style="display: none;"></button>
    <button id="pausar-todo" style="display: none;"></button>

    <br>
    <br>

    <h3>Nuevo registro</h3>
    <form action='@Url.Action("CrearRegistro", "Home")' method="POST">
        <label for="nombre">Nombre del registro</label>
        <input type="text" name="nombre" placeholder="Nombre">
        <button type="submit">Crear</button>
    </form>

    <br>
    <br>

    <form action='@Url.Action("SacarUsuario", "Home")'>
        <button type="submit">Salir</button>
    </form>


    <script src="~/js/accionesRegistros.js"></script>
</div>