@{
    var registro = (ViewBag.registro != null) ? ViewBag.registro : null;
}

@{
    ViewData["Title"] = (registro != null) ? registro.Nombre : "Error";
}

<div class="text-center">
    <h1>Registro <strong>@registro.Nombre</strong></h1>

    <table>
        <tr>
            <th><strong>ID</strong></th>
            <th><strong>Premium</strong></th>
            <th><strong>Loguear</strong></th>
            <th><strong>Registrar</strong></th>
            <th><strong>Administradores</strong></th>
        </tr>
        <tr>
            <td>@registro.ID</td>
            @{var premium = registro.Premium ? "✅" : "❌";}
            <td>@premium</td>
            @{var pauseLogs = !registro.pauseLogs ? "✅" : "❌";}
            <td>@pauseLogs</td>
            @{var pauseRegs = !registro.pauseRegs ? "✅" : "❌";}
            <td>@pauseRegs</td>
            <td>
                <select name="administradores" id='@registro.ID-select'>
                    @if(registro.Admins.Count == 0){
                        <option value=0 selected>No Admins</option>
                    }else{
                        <option value=0 selected></option>
                        @if (registro.Admins != null)
                        {
                            foreach (var admin in registro.Admins)
                            {
                                <option value='@admin.ID'>@admin.ID - @admin.Username</option>
                            }
                        }
                    }
                </select>
                <button type="button" onclick='EliminarAdministrador(@registro.ID)' class="btn-eliminar">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <button id="pausar-logueos"></button>
                <button id="pausar-registros"></button>
                <button id="upgrade">Upgrade</button>
            </td>
        </tr>
    </table>

    @{
        var logs = registro.pauseLogs ? true : false;
        var regs = registro.pauseRegs ? true : false;
    }
    <input type="hidden" value='["@logs", "@regs"]' id="pauses-info">

    <section class="btn-section">
        <h2>Boton <strong>Login</strong></h2>
        <p>(Copia y pega este codigo en tu pagina para utilizarlo)</p>
        <textarea readonly id="btn-login">
            <button id="Registrar-Login">Loguear</button>
            <script>
                let open = false;
                document.getElementById('Registrar-Login').addEventListener('click', e => {
                    if(!open){   
                        open = true;
                        URL = `https://localhost:5501/Clientes/LoginCliente?reg_id=@registro.ID&creator_id=@registro.CreadorID`;
                        window.open(URL, 'Login - Registrar', 'width=360,height=640,scrollbars=NO,resizable=NO');
                    }
                });

                function takeLogin(data){
                    localStorage.setItem("infoLogin", JSON.stringify(data));
                }
            </script>
        </textarea>
    </section>

    <section class="btn-section">
        <h2>Boton <strong>Registrar</strong></h2>
        <p>(Copia y pega este codigo en tu pagina para utilizarlo)</p>
        <textarea readonly id="btn-register">
            <button id="Registrar-Registro">Loguear</button>
            <script>
                let open = false;
                document.getElementById('Registrar-Registro').addEventListener('click', e => {
                    if(!open){   
                        open = true;
                        URL = `https://localhost:5501/Clientes/RegistroCliente?reg_id=@registro.ID&creator_id=@registro.CreadorID`;
                        window.open(URL, 'Registro - Registrar', 'width=360,height=640,scrollbars=NO,resizable=NO');
                    }
                });

                function takeRegister(data){
                    localStorage.setItem("infoRegistro", JSON.stringify(data));
                }
            </script></textarea>
    </section>

    <script src="~/js/btnConfig.js"></script>
    <script src="~/js/configView.js"></script>
</div>