@{
    var registro = (ViewBag.registro != null) ? ViewBag.registro : null;
}

@{
    ViewData["Title"] = (registro != null) ? registro.Nombre : "Error";
}

@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<div class="text-center">
    <button id="btn-volver" style="margin-right: 95%;">Volver</button>
    <h1>Registro <strong>@registro.Nombre</strong></h1>

    <table>
        <tr>
            <th><strong>ID</strong></th>
            <th><strong>Premium</strong></th>
            <th><strong>Loguear</strong></th>
            <th><strong>Registrar</strong></th>
            <th><strong>Administradores</strong></th>
        </tr>
        <tr>
            <td>@registro.ID</td>
            @{var premium = registro.Premium ? "✅" : "❌";}
            <td>@premium</td>
            @{var pauseLogs = !registro.pauseLogs ? "✅" : "❌";}
            <td>@pauseLogs</td>
            @{var pauseRegs = !registro.pauseRegs ? "✅" : "❌";}
            <td>@pauseRegs</td>
            <td>
                <select name="administradores" id='@registro.ID-select'>
                    @if(registro.Admins == null || registro.Admins.Count == 0){
                        <option value=0 selected>No Admins</option>
                    }else{
                        <option value=0 selected></option>
                        @if (registro.Admins != null)
                        {
                            foreach (var admin in registro.Admins)
                            {
                                <option value='@admin.ID'>@admin.ID - @admin.Username</option>
                            }
                        }
                    }
                </select>
                <button type="button" onclick='EliminarAdministrador(@registro.ID)' class="btn-eliminar">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <button onclick="PausarLog(@registro.ID)" id="pausar-logueos">Pausar Logueos</button>
                <button onclick="PausarReg(@registro.ID)" id="pausar-registros">Pausar Registros</button>
                <button >Upgrade</button>
            </td>
        </tr>
    </table>

    @{
        var logs = registro.pauseLogs ? true : false;
        var regs = registro.pauseRegs ? true : false;
    }
    <input type="hidden" value='["@logs", "@regs"]' id="pauses-info">

    <section class="btn-section" style="display: flex; flex-direction: column;">
        <h3 style="width: 85%; margin-left: 7.5%;">Inserta el script a lo largo de tu proyecto para poder utilizar nuestros registros</h3>
        <div style="display: flex; flex-direction: row; width: 100%">
            <div>
                <h2>Descargar script</h2>
                <button id="download-script">registroBeta.js</button>
                <button id="download-script-react">registroBeta-react.js</button>
            </div>
            <div>
                <h2>Descarga estilos</h2>
                <button id="download-styles">registroBeta.css</button>
            </div>
        </div>
    </section>

    <section class="btn-section">
        <h2>Boton <strong>Login</strong></h2>
        <p>(Copia y pega este boton en tu pagina para utilizarlo)</p>
        <textarea readonly id="btn-login">
<button onclick="LoginCliente(@registro.ID, @registro.CreadorID)" class="login">Loguear</button></textarea>
    </section>

    <section class="btn-section">
        <h2>Boton <strong>Registrar</strong></h2>
        <p>(Copia y pega este boton en tu pagina para utilizarlo)</p>
        <textarea readonly id="btn-register">
<button onclick="RegistroCliente(@registro.ID, @registro.CreadorID)" class="register">Registrarse</button></textarea>
    </section>

    <script src="~/js/btnConfig.js"></script>
    <script src="~/js/configView.js"></script>
</div>